---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


// change title font and color
.title {
  color: green !important;
  font-style: italic !important;
}

// justify text
.page__content {
  text-align: right;
}
