---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


// change all text to Allura font
body {
  font-family: 'Allura', cursive !important;
}

// change title font and color
.site-title {
  color: green !important;
  font-style: italic !important;
}

// justify text
p {
  text-align: justify !important;
}
